<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/adduser" method="POST" >
        <label for="userName" >Username</label>
        <input required type="text" placeholder="User Name" name="userName"> <br />

        <label for="userEmail" >email</label>
        <input required type="email" placeholder="example@test.com" name="userEmail"> <br />
        
        <label for="userPassword" >Password</label>
        <input required type="password" placeholder="Password" name="userPassword"> <br />

        <button type="submit" >Add User</button>
    </form>
</body>
</html>