<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Comfortaa&family=Dancing+Script&family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>MADE</title>
</head>
<body>
    <h1> Well that didn't go as planned did it?</h1>
    <h2>Maybe try again and do better?</h2>
    <a href="/">Go Home</a>
</body>
</html>